{% extends "base.html" %}

{% block title %}view/ad_req{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Ad Request Details</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Campaign: {{ ad_request.campaign.name }}</h5>
            <h6 class="card-subtitle mb-2">Influencer: {{ ad_request.influencer.name }}</h6>
            <h6 class="card-subtitle mb-2">Ad Name: <strong>{{ ad_request.ad_name }}</strong></h6>
            <p class="card-text mb-0"><strong>Status:</strong> {{ ad_request.status }}</p>
            <p class="card-text mb-0"><strong>Payment Amount:</strong> ${{ ad_request.payment_amount }}</p>
            <p class="card-text mb-1"><strong>Requirements:</strong></p>
            <pre class="bg-light p-2">{{ ad_request.requirements }}</pre>
            <p class="card-text mb-1"><strong>Messages:</strong></p>
            <pre class="bg-light p-2">{{ ad_request.messages }}</pre>
            <p class="card-text mb-0"><small class="text-muted">Created: {{ ad_request.created_at.strftime('%Y-%m-%d
                    %H:%M:%S') }}</small></p>
            <p class="card-text mt-0"><small class="text-muted">Last updated: {{ ad_request.updated_at.strftime('%Y-%m-%d
                    %H:%M:%S') }}</small></p>
        </div>
    </div>

    <div class="mt-3">
        {% if 'admin' in user_role %}
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
        <a href="{{ url_for('view_campaign', id = ad_request.campaign.id) }}" class="btn btn-secondary">Back to Campaign</a>
        {% else %}
        <a href="{{ url_for('influencer_dashboard') }}" class="btn btn-secondary">Back to Dashboard</a>
        {% endif %}
    </div>


</div>
{% endblock %}