{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <br><br><br>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-12 text-center">
            <div class="p-3 border bg-light">
                <a href="/login_admin" class="btn btn-dark">Admin Login</a>
            </div>
        </div>
    </div>

    <br><br>
    <div class="row justify-content-center align-items-center border-1">
        <div class="col-sm-6 text-center">
            <div class="p-3 border bg-light">
                <a href="/login_influencer" class="btn btn-primary text-white">Influencer Login</a>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="p-3 border bg-light">
                <a href="/register_influencer" class="btn btn-warning" style="opacity: 0.7;">Register Influencer</a>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center align-items-center">
        <div class="col-sm-6 text-center">
            <div class="p-3 border bg-light ">
                <a href="/login_sponsor" class="btn btn-primary">Sponsor Login</a>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="p-3 border bg-light ">
                <a href="/register_sponsor" class="btn btn-warning" style="opacity: 0.7;">Sponsor Register</a>
            </div>
        </div>
    </div>

</div>


<style>
    .custom-class {
        background-color: #1d68b3;
    }
</style>

{% endblock %}